<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="error"
      internalLogFile="/tmp/log/internal-nlog.txt">


  <!-- the targets to write to -->
  <targets>
    <target xsi:type="File" name="trace" fileName="d:\temp\Lixil\TukubaSim\Logs\trace-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}| ${onexception:${newline}${exception:format=tostring}"
            archiveAboveSize="5242880" archiveNumbering="Rolling" maxArchiveFiles="100" />
    <target xsi:type="File" name="debug" fileName="d:\temp\Lixil\TukubaSim\Logs\debug-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}| ${onexception:${newline}${exception:format=tostring}"
            archiveAboveSize="5242880" archiveNumbering="Rolling" maxArchiveFiles="100" />
    <target xsi:type="File" name="info" fileName="d:\temp\Lixil\TukubaSim\Logs\info-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}| ${onexception:${newline}${exception:format=tostring}"
            archiveAboveSize="5242880" archiveNumbering="Rolling" maxArchiveFiles="100" />
    <target xsi:type="File" name="system" fileName="d:\temp\Lixil\TukubaSim\Logs\system-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}| ${onexception:${newline}${exception:format=tostring}"
            archiveAboveSize="5242880" archiveNumbering="Rolling" maxArchiveFiles="100" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--Skip non-critical Microsoft logs and so log only own logs -->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="system" final="true" />
    <logger name="*" minlevel="Trace" writeTo="trace" />
    <logger name="*" minlevel="DEBUG" writeTo="debug" />
    <logger name="*" minlevel="INFO" writeTo="info" />
  </rules>
</nlog>

